
.header-div{
    position:relative;
}
.weather-icon{
    top:0;
    right:0;
    position:absolute;
    mat-icon{
        width:64px;
        height:64px;
        margin-top:-10px;
        margin-right:-10px;
    }
}

table{
    tr:first-child{
        td{
            height:65px;
            overflow:auto;
        }
    }
    width:100%;
    td{
        width:50%;
    }
}