.main-table{
    
}

.bottom-buttons{
    text-align:center;
    margin-top:15px;
}

.about-box{
    margin-top:60px;
}

.table-holder{
    margin-top:8px;
    width:100%;
    position:relative;
    overflow-x:scroll;
}

mat-toolbar span:first-child{
    flex: 1 1 auto;
}
.powered-by{
    flex: 1 1 auto;
    text-align:right;
}

.spacer-span{
    flex:1 1 auto;
}

app-weather-row{
    width:100%;
    display:block;
}