<div>
  <mat-toolbar color="primary">
    <span>Weather Compare</span>
    <span class='spacer-span'></span>
    <span class='powered-by'>
      <a target="_" class="attribution-one-line" href="https://darksky.net/poweredby/"><img
          src="/assets/poweredby-darkbackground.png" style="height: 3.5rem;"></a>
    </span>
  </mat-toolbar>
  <div class='table-holder'>
    <table class='main-table'>
      <app-weather-row *ngFor="let row of rows" [rowData]="row" (onDelete)="delete($event)"></app-weather-row>
    </table>
  </div>
  <div class='bottom-buttons'>
    <button color="primary" [disabled]="hasEmpty()" mat-raised-button (click)="addRow()">Add</button>
  </div>
  <div class='about-box'>
    <a href="mailto:feedback@weathercomp.com">Feedback?</a>
  </div>
</div>