<tr>
  <td>
    <div class='location-input'>
      <br><br><br><br>
      <!-- CSS wont do this right so im putting breaks like a savage... -->
      <input #addressInput matInput type='text' [value]="rowData.address" (change)="updateAddress(addressInput.value)" placeholder="location">
      <!-- <span class='floater-name'>
        {{addressInput.value}}
      </span> -->
      <br>
      <br>
      <span class='action-buttons'>
        <button color="warn" mat-raised-button (click)="delete()">Delete</button>
        <!-- <button color="primary" mat-raised-button (click)="updateAddress(addressInput.value)">Update</button> -->
      </span>
    </div>    
  </td>

  <ng-container *ngIf="rowData.weatherData">
      <td *ngFor="let day of rowData.weatherData.daily.data">
        <app-weather-tile [tileData]="day"></app-weather-tile>
      </td>
  </ng-container>
</tr>